#header {
  position: fixed;
  background-color: #fa0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
}
#header h3 {
  font-weight: bold;
  font-size: 120%;  
}
#menu {
  position: fixed;
  background-color: #fea;
  top: 50px; /* #header.height */
  right: 0;
  width: 100px;
}
#menu a {
  display: inline-block;
  width: 100%;
  padding: 2px 10px;
  text-decoration: none;
}
#menu a:hover,
#menu a.active {
  background-color: #f80;
}
#menu a.active {

}
.pages {
  margin-right: 100px; /* cause menu overlap */
}
.page {
  padding: 1em;
}
.page h1 {
  font-weight: bold;
  font-size: 140%;
}
.page .content {
  padding-top: 50px; /* #header.height */
}